.idea
.DS_Store
.claude
*.pyc

node_modules/

server/.gradle
server/build
server/.kotlin
server/.env
server/api-e2e/build
!server/gradle/wrapper/gradle-wrapper.jar



website/.vscode
website/node_modules

web/.vscode
web/node_modules

