.idea
.zed
.wrangler
.DS_Store
.claude/*
!.claude/skills
.codex
*.pyc
*.jks
*.keystore
*.p12

*.local.md
*.override.md

server/.gradle
server/build
server/.kotlin
server/.env
server/api-e2e/build
server/data/
server/tmp/
server/test-output/
server/src/main/resources
!server/gradle/wrapper/gradle-wrapper.jar

website/.vscode
website/node_modules

web/.vscode
web/node_modules

scripts/.dev/

**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
